n8n-24hr_reminder.json
{
  "name": "Sarita's 24HR REMINDER workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id AS appointment_id,\n  p.id AS patient_id,\n  p.first_name,\n  p.last_name,\n  p.phone,\n  a.scheduled_start,\n  to_char(a.scheduled_start AT TIME ZONE 'Australia/Adelaide', 'YYYY-MM-DD HH24:MI') AS scheduled_local,\n  a.status\nFROM public.appointments a\nJOIN public.patients p ON p.id = a.patient_id\nWHERE\n  a.status = 'SCHEDULED'\n  AND a.reminder_24h_sent_at IS NULL\n  AND a.scheduled_start BETWEEN NOW() AND (NOW() + INTERVAL '24 hours')\nORDER BY a.scheduled_start;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        -480
      ],
      "id": "2e774a35-e5b1-4a4f-ad50-5fed70cff48a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "NiWqNAET24JVL8v9",
          "name": "Supabase Connect"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54d0dca5-15e7-4d06-9dae-77e491462cf3",
              "name": "to",
              "value": "={{ $json[\"phone\"] }}",
              "type": "string"
            },
            {
              "id": "09e45163-e5b7-4e3b-a9d9-09032a4cd2f4",
              "name": "channel",
              "value": "SMS",
              "type": "string"
            },
            {
              "id": "8f96271f-2011-4f72-857c-41586c8aebd3",
              "name": "text",
              "value": "={{\n  `Hi ${$json[\"first_name\"]}, this is a reminder of your appointment on ${$json[\"scheduled_local\"]}. Reply 1 to confirm or 2 to reschedule.`\n}}",
              "type": "string"
            },
            {
              "id": "35692ce0-84bf-4f3b-ba26-8cb11e74e5c5",
              "name": "appointment_id",
              "value": "={{ $json[\"appointment_id\"] }}",
              "type": "string"
            },
            {
              "id": "18b96c55-2711-4f90-bd6d-616542fbb673",
              "name": "patient_id",
              "value": "={{ $json[\"patient_id\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -480
      ],
      "id": "85329c0c-2692-4c05-9772-a60da88fe859",
      "name": "reminder payload"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "console.log($json);\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -240
      ],
      "id": "0f0cd18e-1db9-4975-b0c6-4128ded58322",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $json.patient_id }}",
            "appointment_id": "={{ $json.appointment_id }}",
            "direction": "OUTBOUND",
            "channel": "={{ $json.channel }}",
            "body": "={{ $json.text }}",
            "status": "SENT",
            "phone": "={{ $json.to}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "OUTBOUND",
                  "value": "OUTBOUND"
                },
                {
                  "name": "INBOUND",
                  "value": "INBOUND"
                }
              ]
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "SMS",
                  "value": "SMS"
                },
                {
                  "name": "WHATSAPP",
                  "value": "WHATSAPP"
                }
              ]
            },
            {
              "id": "template_key",
              "displayName": "template_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "RECEIVED",
                  "value": "RECEIVED"
                }
              ],
              "removed": false
            },
            {
              "id": "provider_message_id",
              "displayName": "provider_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "provider_status",
              "displayName": "provider_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        -480
      ],
      "id": "f4708c02-0ff3-4b8a-b727-c9b62f8fe6ad",
      "name": "Insert rows in messages table",
      "credentials": {
        "postgres": {
          "id": "NiWqNAET24JVL8v9",
          "name": "Supabase Connect"
        }
      }
    },
    {
      "parameters": {
        "from": "+14198206195",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        80,
        -384
      ],
      "id": "df9d97a7-c89d-44c3-aa20-61d80e8ae0bf",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "9ZA1qe51LkHIQ5W4",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        -480
      ],
      "id": "923290a0-a5ef-4733-b6fc-535d2b8aebf9",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -480
      ],
      "id": "afe67435-4227-4d4f-8a62-46793c1d9d12",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "provider_message_id": "={{ $json.sid }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "provider_status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "OUTBOUND",
                  "value": "OUTBOUND"
                },
                {
                  "name": "INBOUND",
                  "value": "INBOUND"
                }
              ],
              "removed": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "SMS",
                  "value": "SMS"
                },
                {
                  "name": "WHATSAPP",
                  "value": "WHATSAPP"
                }
              ],
              "removed": true
            },
            {
              "id": "template_key",
              "displayName": "template_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "SENT",
                  "value": "SENT"
                },
                {
                  "name": "DELIVERED",
                  "value": "DELIVERED"
                },
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "RECEIVED",
                  "value": "RECEIVED"
                }
              ],
              "removed": true
            },
            {
              "id": "provider_message_id",
              "displayName": "provider_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "provider_status",
              "displayName": "provider_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        -480
      ],
      "id": "9b4c28b3-ee80-4f36-9365-ed1231524859",
      "name": "Update rows in a messages table",
      "credentials": {
        "postgres": {
          "id": "NiWqNAET24JVL8v9",
          "name": "Supabase Connect"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointments",
          "mode": "list",
          "cachedResultName": "appointments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.appointment_id }}",
            "reminder_24h_sent_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_system_id",
              "displayName": "source_system_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scheduled_start",
              "displayName": "scheduled_start",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scheduled_end",
              "displayName": "scheduled_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "SCHEDULED",
                  "value": "SCHEDULED"
                },
                {
                  "name": "CONFIRMED",
                  "value": "CONFIRMED"
                },
                {
                  "name": "RESCHEDULED",
                  "value": "RESCHEDULED"
                },
                {
                  "name": "CANCELLED",
                  "value": "CANCELLED"
                },
                {
                  "name": "MISSED",
                  "value": "MISSED"
                }
              ],
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "provider_name",
              "displayName": "provider_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reminder_24h_sent_at",
              "displayName": "reminder_24h_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        -480
      ],
      "id": "119509dd-8985-4947-ac93-b4b3a8e1e2f0",
      "name": "Update rows (appointments)",
      "credentials": {
        "postgres": {
          "id": "NiWqNAET24JVL8v9",
          "name": "Supabase Connect"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "audit_log",
          "mode": "list",
          "cachedResultName": "audit_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "REMINDER_24H_SENT",
            "appointment_id": "={{ $json.id }}",
            "patient_id": "={{ $json.patient_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -480
      ],
      "id": "416020b9-e2da-4621-a4ef-1ff977a385df",
      "name": "insert (audit log)",
      "credentials": {
        "postgres": {
          "id": "NiWqNAET24JVL8v9",
          "name": "Supabase Connect"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "reminder payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reminder payload": {
      "main": [
        [
          {
            "node": "Insert rows in messages table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Insert rows in messages table": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update rows in a messages table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a messages table": {
      "main": [
        [
          {
            "node": "Update rows (appointments)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows (appointments)": {
      "main": [
        [
          {
            "node": "insert (audit log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dd93cd54-f736-4cd2-b1f3-9e69ae2ffc9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de3321329c4193a46d689200aec2ee1c1a76cf77417b7e003dedf551d26d850b"
  },
  "id": "byS737W1qZqiisGg",
  "tags": []
}
